<div class= contener>
<br>
<h2> Device background</h2>
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   <!-- Weight Column -->
   <ng-container matColumnDef="deviceid">
    <th mat-header-cell *matHeaderCellDef> deviceid </th>
    <td mat-cell *matCellDef="let element"> {{element.deviceid}} </td>
  </ng-container>

   <!-- Position Column -->
   <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> version</th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="employeid">
    <th mat-header-cell *matHeaderCellDef> employeid </th>
    <td mat-cell *matCellDef="let element"> {{element.employeid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> nom </th>
    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef> prenom </th>
    <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="accounttype">
    <th mat-header-cell *matHeaderCellDef> accounttype </th>
    <td mat-cell *matCellDef="let element"> {{element.accounttype}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>
