<div class="contener">
   
  <h2>Welcome & Look for your advice ! </h2>
  <br>
  <!-- <h1>{{ title }}</h1> -->
  <img width="300" alt="Reso Logo" src="../../../../assets/Lookoulook.jpeg">


  <br><br><br>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Employee Name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

</div>

  
  <br><br><br>

  <!-- Tableau -->
<div class= details>
  <h2>Details</h2>
  <ul>
    <li>Accounttype : </li>
    <br>
    <li>Nom : </li>
    <br>
    <li>Prenom : </li>
    <br>
    <li>Version : </li>
    <br>
    <li>Employeid : </li>
    <br>
    <li>Deviceid : </li>
       
  </ul>
</div>
    

